.top{
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url(./images/top.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    color: white;
}
.mainH1{
    font-size: 5rem;
    
}
.mainContent{
    position: relative;
    top:25%;
}
.mainBtn{
    width: 7rem;
    margin: 3rem 2rem;
}

