.center{
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
}
form{
    width: 300px;
    text-align: left;
}

.btn{
    margin-top: 10px;
}
.pad{
    line-height: 40px;
}
